DATABASE_URL=""
JWT_SECRET=""
JWT_REFRESH_SECRET="s"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
REDIS_URL="redis://localhost:6379"
PORT=3000
SUPER_ADMIN_EMAILS="ekanandaputra@ppns.ac.id"

# Set ke 'true' untuk bypass semua pengecekan role/permission.
# Hanya login dan register yang tetap berjalan normal.
BYPASS_PERMISSION=false